/*!

 =========================================================
 * Nuxt Black Dashboard - v1.0.0
 =========================================================

 * Product Page: https://www.creative-tim.com/product/nuxt-black-dashboard-pro
 * Copyright 2020 Creative Tim (https://www.creative-tim.com)

 * Coded by Creative Tim

 =========================================================

 * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
 */

 // Core

@import "dashboard/custom/functions";
@import "~bootstrap/scss/functions";

@import "dashboard/custom/variables";
@import "~bootstrap/scss/variables";

@import "dashboard/custom/mixins";
@import "~bootstrap/scss/mixins";

 // Bootstrap components

@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/code";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/input-group";
@import "~bootstrap/scss/custom-forms";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/breadcrumb";
@import "~bootstrap/scss/pagination";
@import "~bootstrap/scss/badge";
@import "~bootstrap/scss/jumbotron";
@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/progress";
@import "~bootstrap/scss/media";
@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/close";
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/tooltip";
@import "~bootstrap/scss/popover";
@import "~bootstrap/scss/carousel";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/print";

 // Custom components

 @import "dashboard/custom/reboot.scss";
 @import "dashboard/custom/utilities.scss";
 @import "dashboard/custom/alerts.scss";
 @import "dashboard/custom/badge.scss";
 @import "dashboard/custom/buttons.scss";
 @import "dashboard/custom/dropdown.scss";
 @import "dashboard/custom/footer.scss";
 @import "dashboard/custom/forms.scss";
 @import "dashboard/custom/grid.scss";
 @import "dashboard/custom/icons.scss";
 @import "dashboard/custom/images.scss";
 @import "dashboard/custom/input-group.scss";
 @import "dashboard/custom/modal.scss";
 @import "dashboard/custom/nav.scss";
 @import "dashboard/custom/navbar.scss";
 @import "dashboard/custom/popover.scss";
 @import "dashboard/custom/progress.scss";
 @import "dashboard/custom/type.scss";
 @import "dashboard/custom/tables";
 @import "dashboard/custom/checkboxes-radio";
 @import "dashboard/custom/fixed-plugin";
 @import "dashboard/custom/sidebar-and-main-panel.scss";
 @import "dashboard/custom/misc.scss";
 @import "dashboard/custom/rtl.scss";

 // Vendor / Plugins

@import "dashboard/custom/vendor/plugin-bootstrap-switch.scss";
@import "dashboard/custom/vendor/plugin-perfect-scrollbar.scss";

// Vendor Element UI plugins
@import "dashboard/custom/vendor/element-ui/plugin-tags";
@import "dashboard/custom/vendor/element-ui/plugin-slider";
@import "dashboard/custom/vendor/element-ui/plugin-select";
@import "dashboard/custom/vendor/element-ui/plugin-inputs";
@import "dashboard/custom/vendor/element-ui/plugin-tables";
@import "dashboard/custom/vendor/element-ui/plugin-datepicker";

// light mode

@import "dashboard/custom/white-content.scss";

// Cards

@import 'dashboard/custom/card';
@import "dashboard/custom/cards/card-chart";
@import "dashboard/custom/cards/card-map";
@import "dashboard/custom/cards/card-user";
@import "dashboard/custom/cards/card-profile";
@import "dashboard/custom/cards/card-plain";

.vermas {
    cursor:pointer;
    .show {
      display:none;
    }
  }
  .vermas:hover {
    cursor: pointer;
    .show {
      display: block;
    }
  }
  .toolip-hover {
    background-color: rgb(38, 180, 38);
    color: black;
    list-style: none;
    padding: 7px 10px 7px 15px;
    margin: 0 0;
    position: absolute;
    min-width: 17%;
    width: auto;
    border: 1px solid white;
    transform: translate3d(-7px, 7px, 0px);
    /* top: 0px; */
    /* left: 0px; */
    will-change: transform;
    z-index: 1;
    border-radius: 11px;
    box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03),
      0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03),
      0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05),
      0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
    margin: 0.125rem;
  }